//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 30 15:56:35 2019
//! **************************************************************************

SCHEMATIC START;
COMP "enable" LOCATE = SITE "N3" LEVEL 1;
COMP "d0" LOCATE = SITE "M5" LEVEL 1;
COMP "d1" LOCATE = SITE "M11" LEVEL 1;
COMP "d2" LOCATE = SITE "P7" LEVEL 1;
COMP "d3" LOCATE = SITE "P6" LEVEL 1;
COMP "d4" LOCATE = SITE "N5" LEVEL 1;
COMP "d5" LOCATE = SITE "N4" LEVEL 1;
COMP "d6" LOCATE = SITE "P4" LEVEL 1;
COMP "d7" LOCATE = SITE "G1" LEVEL 1;
COMP "a" LOCATE = SITE "K3" LEVEL 1;
COMP "b" LOCATE = SITE "L3" LEVEL 1;
COMP "c" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

