//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 11 13:57:38 2019
//! **************************************************************************

SCHEMATIC START;
COMP "outedge" LOCATE = SITE "M5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "signal" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

